<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Core Online Tutorial - List Products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
<div>sdgfsgsdgsdgsdgsdgsgs</div>
<div>
    <div th:if="${not #lists.isEmpty(movies)}">
        <h2>Product List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr th:each="movie : ${movies}">
                <td th:text="${movie.id}"></td>
                <td th:text="${movie.name}"></td>
                <td th:text="${movie.description}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>